@import "./mixins/breakpoints";

$font-family-primary: "Roboto", "Helvetica", "Arial", sans-serif;
$font-size: 14px;

// screen sizes
$container-x-large-width: 1920px;
$container-x-large-indent: 0;

$container-normal-width: 1320px;
$container-normal-indent: 20px;

$container-tablet-width: 720px;
$container-tablet-indent: 20px;

// breakpoints
$screen-x-large: calculatewidth(
  $container-x-large-width,
  $container-x-large-indent
);
$screen-large: calculatewidth(
  $container-normal-width,
  $container-normal-indent
);
$screen-tablet: calculatewidth(
  $container-tablet-width,
  $container-tablet-indent
);

// basic colors
$color-white: #ffffff;
$color-black: #000000;

$color-body: hsl(25, 85%, 93%);
$color-body-dark: #301c0c;

$color-primary: #22211e;
$color-primary-dark: #f7e9cf;
$color-secondary: #ebb991;
$color-secondary-dark: #53341b;

$color-text-primary: #262626;
$color-text-primary-dark: #e0e7e7;
$color-text-secondary: #bdb3b3;
$color-text-secondary-dark: #2b1d1d;

$color-link-primary: #3b1804;
$color-link-primary-dark: #a5cac7;
$color-link-secondary: #f5f7d8;
$color-link-secondary--dark: #1d2e55;

$color-background-primary: hsl(27, 15%, 97%);
$color-background-primary-dark: #524d46;
$color-background-secondary: #1f0505;
$color-background-secondary-dark: #ca8a8a;

$color-border-primary: #3a0a0a;
$color-border-primary-dark: #888888;
$color-border-secondary: #c9bdad;

$color-bottom-primary: #96a9bb;
$color-bottom-secondary: #291b1b;

// status color
$color-error: #f44336;
$color-completed: #7cf436;
$color-active: #27ae60;
$color-disable: #b9b9b9;
$color-scheduled: #adb1e9;

// status border
$border-status-completed: #d2e7d1;
$border-status-canceled: #dcdcdc;
$border-status-scheduled: #d2e7d1;
$border-status-rejected: #f0c2c2;

// status backgrounds
$background-status-completed: #e9f8e8;
$background-status-canceled: #ebebeb;
$background-status-scheduled: #b3abc7;
$background-status-rejected: #faebeb;

$color-tab: #ebebeb;
$color-tab-40: rgba($color-tab, 0.4);
$color-tab-60: rgba($color-tab, 0.6);
$color-tab-disabled: #dde8eb;

$color-normal-border: rgba(0, 0, 0, 0.15);
$color-disabled-border: rgba(0, 0, 0, 0.1);
$color-select-border: rgba(85, 86, 90, 0.2);
$color-label: rgba(0, 0, 0, 0.54);

$color-check-icon-inactive: #eeeeee;
$color-dormant-popup: #dadada;

// shadow
$shadow-block: 0 2px 2px rgba(0, 0, 0, 0.1);
$shadow-popup: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 4px rgba(0, 0, 0, 0.12);
$shadow-switch-toggle: 0 3px 8px rgba(0, 0, 0, 0.15);

// background-gradient
$background-gradient-primary: linear-gradient(
  0deg,
  rgba($color-white, 0.1),
  rgba($color-background-primary, 0.1)
);

$background-gradient-secondary: linear-gradient(
  0deg,
  rgba($color-white, 0.1),
  rgba($color-background-primary, 0.1)
);
