@import "app/styles/variables";
@import "app/styles/mixins/theme-styles";

:root[data-theme="light"] .header {
  @include theme-light-style;

  h1 {
    text-shadow: $color-background-primary 4px 0 10px;
  }
}

:root[data-theme="dark"] .header {
  @include theme-dark-style;

  h1 {
    text-shadow: $color-primary 4px 0 10px;
  }
}

.header {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;  
  height: 48px;
  padding: 0 2px;
  margin-bottom: 4px;

  h1 {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-style: italic;
  }
}

.logoWrapper {
  padding: 0 42px 0 24px;
}

.logo {
  background: url("../../assets/logoText.png") no-repeat red;
}

.logoPicture {
  width: 100px;
  height: 30px;
  border-radius: 12px;
}
