@import "./styles/index.scss";

.app__wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background-color: $color-body;

  .main {
    flex: 1 1 auto;
    display: grid;
    grid-template-columns: 180px 1fr;
    gap: 24px;
    padding-bottom: 12px;
    background-color: $color-primary;
  }
}

