@import "./styles/index.scss";

:root[data-theme="light"] .app__wrapper {
  background-color: $color-body;
  color: $color-text-primary;
  color-scheme: light;
}

:root[data-theme="dark"] .app__wrapper {
  background-color: $color-body-dark;
  color: $color-text-secondary;
  color-scheme: dark;

  a {
    color: $color-link-secondary;
  }
}

.app__wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;

  .main {
    flex: 1 1 auto;
    display: grid;
    grid-template-columns: 180px 1fr;
    gap: 24px;
    padding-bottom: 12px;
  }
}

