@import "app/styles/variables";

.leftMenu {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  border-radius: 8px;
  border: 1px solid $color-border-primary;
  margin: 8px;
  padding: 6px;
  background-color: rgba($color-background-primary, 0.65);
}

.rowLink {
  width: 140px;
  margin-top: 6px;
  padding-top: 2px;
  padding-bottom: 2px;
}
